<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="description" content="">
    <meta property='og:title' content="">
    <meta property='og:description' content="">
    <meta property='og:url' content="">
    <meta property='og:site_name' content="">
    <meta property='og:image' content="">
    <title>Title</title>
    <link rel="icon" href="images/favicon.ico" />
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="../skrollstrap/css/font-awesome.min.css" rel="stylesheet">
    <link href="../skrollstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../skrollstrap/css/skrollstrap.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script type="text/javascript" src="../skrollstrap/js/skrollr.ie.min.js"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <style> #compatibility_mask { display:block;} </style>
    <![endif]-->
</head>

<body>

    <header>
        <div>
            <h1>Skrollstrap</h1>
        </div>
    </header>

    <div class="scroll-hud">
        <div class="scroll-hud-a"></div>
        <div class="scroll-hud-b"></div>
    </div>

    <div id="all-bg">
        <div class="intro-bg"></div>
        <div class="eye-bg"></div>
        <div class="credits-bg"></div>
    </div>

    <div id="skrollr-body" class="desktop-skrollr-body" style="translateZ(0px)">

        <section class="section0">
            <div id="intro-animation" class="background-full">
                <div class="content">
                    <div class="container" >
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div class="globe">
                    <img src="images/big-globe.png" />
                </div>
                <div class="satellite">
                <img src="images/intro-satellite.png" />
                </div>
                <div class="title">
                    <h1>Your Parallax </h1>
                </div>
                <div id="scroll-arrow-down">
                    <div>Scroll to Continue<br><span class="fa fa-arrow-down"></span></div>
                </div>
            </div>
        </section>

        <section class="section1">
            <div class="background-full" style="position:absolute;">
                <div class="data">
                    <img class="reticle" src="images/data-outer.png" />
                    <img src="images/data-inner.png" />
                    <img class="tag1" src="images/data-tag1.png" />
                    <img class="tag2" src="images/data-tag2.png" />
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Information Age</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie sit amet diam sed tincidunt. Phasellus venenatis euismod ipsum. Integer suscipit, lectus sed pellentesque ultrices, tellus ex porttitor nulla, ut tempus risus nisi eu eros. Duis quam mauris, condimentum sit amet tristique sed, mollis non nunc. Vestibulum bibendum justo id feugiat semper. Nam suscipit lacinia lobortis. Donec eu pulvinar sapien. Curabitur in dui eget neque sagittis lobortis. Praesent elementum lobortis eros, et ornare risus sodales vitae. Sed et lectus magna. Integer diam diam, gravida ut libero sed, vulputate ornare nulla.</p>

                            <p>Integer sit amet vestibulum nibh, ut suscipit ipsum. Proin blandit sapien eget cursus viverra. Fusce tellus tellus, tempor a ante ut, semper semper ligula. Nulla tincidunt ultricies odio varius efficitur. Suspendisse pellentesque, enim mollis vehicula congue, felis dui aliquet nisi, non cursus est nunc vel enim. Mauris semper, est a ultricies fermentum, justo massa laoreet sem, et venenatis nisl massa nec neque. Maecenas dignissim blandit justo eget sagittis. Vestibulum quis aliquam sem, ac porta tortor. Fusce luctus aliquam purus vitae accumsan. Ut lacinia purus non enim pharetra euismod. Proin varius lacus sed cursus viverra. Vivamus bibendum metus ac nisl varius pellentesque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section2">
            <div class="background-full" style="position:absolute;">
                <div class="big-globe">
                    <img src="images/big-globe.png" />
                </div>
                <div class="sat sat1">
                    <img src="images/sat1.png" />
                    <div>Blah blah blah<br>
                        Blah blah blah<br>
                        Blah blah blah
                    </div>
                </div>
                <div class="sat sat2">
                    <img src="images/sat2.png" />
                    <div>Blah blah blah<br>
                        Blah blah blah<br>
                        Blah blah blah
                    </div>
                </div>
                <div class="sat sat3">
                    <img src="images/sat3.png" />
                    <div>Blah blah blah<br>
                        Blah blah blah<br>
                        Blah blah blah
                    </div>
                </div>
                <div class="sat sat4">
                    <img src="images/sat4.png" />
                    <div>Blah blah blah<br>
                        Blah blah blah<br>
                        Blah blah blah
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6" id="heritage">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie sit amet diam sed tincidunt. Phasellus venenatis euismod ipsum. Integer suscipit, lectus sed pellentesque ultrices, tellus ex porttitor nulla, ut tempus risus nisi eu eros. Duis quam mauris, condimentum sit amet tristique sed, mollis non nunc. Vestibulum bibendum justo id feugiat semper. Nam suscipit lacinia lobortis. Donec eu pulvinar sapien. Curabitur in dui eget neque sagittis lobortis. Praesent elementum lobortis eros, et ornare risus sodales vitae. Sed et lectus magna. Integer diam diam, gravida ut libero sed, vulputate ornare nulla.</p>

                            <p>Integer sit amet vestibulum nibh, ut suscipit ipsum. Proin blandit sapien eget cursus viverra. Fusce tellus tellus, tempor a ante ut, semper semper ligula. Nulla tincidunt ultricies odio varius efficitur. Suspendisse pellentesque, enim mollis vehicula congue, felis dui aliquet nisi, non cursus est nunc vel enim. Mauris semper, est a ultricies fermentum, justo massa laoreet sem, et venenatis nisl massa nec neque. Maecenas dignissim blandit justo eget sagittis. Vestibulum quis aliquam sem, ac porta tortor. Fusce luctus aliquam purus vitae accumsan. Ut lacinia purus non enim pharetra euismod. Proin varius lacus sed cursus viverra. Vivamus bibendum metus ac nisl varius pellentesque.</p>
                        </div>
                        <div class="sidebar-sat1-container col-sm-5 col-sm-offset-1">
                            <div class="sidebar-sat1">
                                <img src="images/intro-satellite.png" />
                                <div>Caption info</div>
                                <h4>“Lorem ipsum dolor set amet!”</h4>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row" id="dual-launch" style="padding-top:300px">
                        <div class="col-sm-6">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie sit amet diam sed tincidunt. Phasellus venenatis euismod ipsum. Integer suscipit, lectus sed pellentesque ultrices, tellus ex porttitor nulla, ut tempus risus nisi eu eros. Duis quam mauris, condimentum sit amet tristique sed, mollis non nunc. Vestibulum bibendum justo id feugiat semper. Nam suscipit lacinia lobortis. Donec eu pulvinar sapien. Curabitur in dui eget neque sagittis lobortis. Praesent elementum lobortis eros, et ornare risus sodales vitae. Sed et lectus magna. Integer diam diam, gravida ut libero sed, vulputate ornare nulla.</p>

                            <p>Integer sit amet vestibulum nibh, ut suscipit ipsum. Proin blandit sapien eget cursus viverra. Fusce tellus tellus, tempor a ante ut, semper semper ligula. Nulla tincidunt ultricies odio varius efficitur. Suspendisse pellentesque, enim mollis vehicula congue, felis dui aliquet nisi, non cursus est nunc vel enim. Mauris semper, est a ultricies fermentum, justo massa laoreet sem, et venenatis nisl massa nec neque. Maecenas dignissim blandit justo eget sagittis. Vestibulum quis aliquam sem, ac porta tortor. Fusce luctus aliquam purus vitae accumsan. Ut lacinia purus non enim pharetra euismod. Proin varius lacus sed cursus viverra. Vivamus bibendum metus ac nisl varius pellentesque.</p>
                        </div>
                        <div class="sidebar-sat2-container col-sm-3 col-sm-offset-2">
                            <img class="sidebar-sat2" src="images/dual-launch.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section3">
            <div class="background-full" style="position:absolute;">
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie sit amet diam sed tincidunt. Phasellus venenatis euismod ipsum. Integer suscipit, lectus sed pellentesque ultrices, tellus ex porttitor nulla, ut tempus risus nisi eu eros. Duis quam mauris, condimentum sit amet tristique sed, mollis non nunc. Vestibulum bibendum justo id feugiat semper. Nam suscipit lacinia lobortis. Donec eu pulvinar sapien. Curabitur in dui eget neque sagittis lobortis. Praesent elementum lobortis eros, et ornare risus sodales vitae. Sed et lectus magna. Integer diam diam, gravida ut libero sed, vulputate ornare nulla.</p>
                        </div>
                        <div class="col-sm-5 col-sm-offset-1">
                            <div class="video-container">
                                <iframe id="player" type="text/html" src="http://www.youtube.com/embed/=7n-Nc_Bv7LA?showinfo=0&iv_load_policy=3&controls=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section4">
            <div id="info-graphic" class="animation-container background-full" style="position:absolute; text-align:center">
                <div id="animation-title">
                    Lorem Ipsum Dolor Set Amet!
                </div>
                <div id="animation-images">
                     <img src="images/section4-animation-bg.png" />
                     <img id="bar1" src="images/info-bar1.png" />
                     <img id="bar2" src="images/info-bar2.png" />
                     <img id="bar3" src="images/info-bar3.png" />
                     <img id="box1" src="images/info-box1.png" />
                     <img id="box2" src="images/info-box2.png" />
                     <img id="box3" src="images/info-box3.png" />
                     <img id="box4" src="images/info-box4.png" />
                </div>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                    </div>
                </div>
            </div>
        </section>

        <section class="section5">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6" id="sec5text">
                            <h3>Lorem Ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie sit amet diam sed tincidunt. Phasellus venenatis euismod ipsum. Integer suscipit, lectus sed pellentesque ultrices, tellus ex porttitor nulla, ut tempus risus nisi eu eros. Duis quam mauris, condimentum sit amet tristique sed, mollis non nunc. Vestibulum bibendum justo id feugiat semper. Nam suscipit lacinia lobortis. Donec eu pulvinar sapien. Curabitur in dui eget neque sagittis lobortis. Praesent elementum lobortis eros, et ornare risus sodales vitae. Sed et lectus magna. Integer diam diam, gravida ut libero sed, vulputate ornare nulla.</p>

                            <p>Integer sit amet vestibulum nibh, ut suscipit ipsum. Proin blandit sapien eget cursus viverra. Fusce tellus tellus, tempor a ante ut, semper semper ligula. Nulla tincidunt ultricies odio varius efficitur. Suspendisse pellentesque, enim mollis vehicula congue, felis dui aliquet nisi, non cursus est nunc vel enim. Mauris semper, est a ultricies fermentum, justo massa laoreet sem, et venenatis nisl massa nec neque. Maecenas dignissim blandit justo eget sagittis. Vestibulum quis aliquam sem, ac porta tortor. Fusce luctus aliquam purus vitae accumsan. Ut lacinia purus non enim pharetra euismod. Proin varius lacus sed cursus viverra. Vivamus bibendum metus ac nisl varius pellentesque.</p>
                        </div>
                        <div class="col-sm-6" id="digital-tapestry">
                            <div id="tapestry-image">
                                <img id="dt1" src="images/dt1.png" />
                                <img id="dt2" src="images/dt2.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section6">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 credits">
                            <h1>The credits</h1>
                        </div>  
                    </div>
                </div>
            </div>
        </section>

    </div> <!-- skrollr-body -->

    <!-- for redirecting IE8 visitors -->
    <div id="compatibility_mask">
        <p>This article contains features that are not compatible with your web browser.</p>
    </div>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../skrollstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../skrollstrap/js/lodash.min.js"></script>
    <script type="text/javascript" src="../skrollstrap/js/skrollr.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="..skrollstrap/js/skrollr.ie.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="js/keyframes.js"></script>
    <script type="text/javascript" src="../skrollstrap/js/skrollstrap.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <!-- Preloader -->
    <script type="text/javascript">
        $(window).on('load', function() {
            // fade out the loading animation
            $('#status').fadeOut();
            // fade out the white DIV that covers the website.
            $('#preloader').delay(350).fadeOut('slow');
            $('body').delay(350).css({'overflow':'visible'});
            // Start the app
            app.init();
        });

        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        function onPlayerStateChange(event) {
           if (event.data == YT.PlayerState.PLAYING) {
                _gaq.push(['_trackEvent', 'Lockheed Information-Age cascade', 'Clicks', 'Lockheed video play section3']);
           }
        }

        function onYouTubeIframeAPIReady() {
           var player;
           player = new YT.Player('player', {
              events: {
                 'onStateChange': onPlayerStateChange
              }
           });
        }

    </script>
</body>

</html>